.find__recommendedFriends {
  height: 50vh;
}
.find__openchat__list {
  padding: 15px 0px;
}
.find__openchat__listitem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
  transition: background-color 0.5s ease-in-out;
}
.find__openchat__listitem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.openchat__title {
  font-size: 24px;
}
.openchat__hashtag {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  margin: 10px 0px;
}

.openchat__active {
  color: pink;
}
.openchat__img {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.openchat__img > img {
  width: 100px;
  border-radius: 25%;
}

.openchat__like {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
  border-radius: 10px;
  right: 10px;
  bottom: 15px;
  color: rgb(238, 238, 238);
}

.openchat__like:hover {
  will-change: transform;
  animation: likeHeartBeat 0.3s linear infinite;
}
@keyframes likeHeartBeat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
    color: red;
  }
  100% {
    transform: none;
  }
}
