.friends_screen {
  margin: 0px var(--horizontal-space);
}
.friends__info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  margin-top: -15px;
  font-weight: 500;
  background-color: var(--gray);
}

.friends__info span {
  margin: 0px 10px;
}

.friends__info i {
  color: rgba(0, 0, 0, 0.4);
}
