.bedge {
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: tomato;
  color: white;
}
@keyframes bedgeAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px) rotateZ(30deg);
  }
  100% {
    transform: translateY(0px);
  }
}
.bedge-chat {
  left: 70%;
  bottom: 40%;
  animation: bedgeAnimation 1s ease-in-out infinite;
}
.bedge--dot-ellipsis,
.bedge--dot-setting {
  width: 5px;
  height: 5px;
}

.bedge--dot-ellipsis {
  left: 109%;
  bottom: 80%;
}

.bedge--dot-setting {
  left: 109%;
  bottom: 120%;
}
.bedge__newChat {
  align-self: flex-end;
  margin-top: 10px;
  position: relative;
}

.bedge__alertNew {
  width: 15px;
  height: 15px;
  font-size: 10px;
  position: relative;
  align-self: flex-start;
}
