.box {
  border-top: 1px solid var(--border-color);
}
.box__title {
  display: flex;
  width: 100%;
  font-weight: 600;
  color: var(--gray-faint);
  justify-content: space-between;
  margin-top: 15px;
}
.box__title i {
  margin-left: 5px;
}
.box__notice {
  display: flex;
  color: var(--gray-faint);
  font-size: 24px;
  font-weight: 600;
  height: 90%;
  align-items: center;
  justify-content: center;
}
