a {
  color: var(--font);
}
.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid var(--border-color);
  box-sizing: border-box; /*I don't want strech box*/
  padding: 20px 50px;
  background-color: var(--gray);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__listitem {
  position: relative;
}
