.screen_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 30px;
  color: var(--font);
}

.screen_header__title h1 {
  font-size: 32px;
  font-weight: 600;
}
.screen_header__icons {
  display: flex;
  align-items: center;
}
.screen_header__icons a {
  margin-left: 30px;
  position: relative;
}
.screen_header__icons #chat_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: 600;
  bottom: 30%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
