.user_component {
  padding: 15px 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 2s ease-in-out;
  transition: border-radius 0.1s linear;
  animation: usercomponentFadein 0.5s ease-in-out forwards;
  left: -300px;
  opacity: 0;
}
.user_component__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user_component__subcolumn {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.user_component__subcolumn__chat {
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
}
.user_component__subcolumn i {
  margin-left: 8px;
}
.user_component__avatar--big {
  width: 80px;
  border-radius: 25%;
}
.user_component__avatar {
  width: 70px;
  border-radius: 25%;
}
.user_component__avatar--small {
  width: 60px;
  border-radius: 25%;
}
.user_component__avatar--xs {
  width: 30px;
  border-radius: 25%;
}
.user_component__info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user_component__name {
  font-size: 24px;
  font-weight: 600;
}
.user_component__name--notbold {
  font-weight: 500;
}
.user_component__subtitle {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  margin-top: 10px;
}
@keyframes usercomponentFadein {
  from {
    transform: none;
  }
  to {
    transform: translateX(300px);
    opacity: 1;
  }
}
.user_component:hover {
  border-radius: 25px;
  background-color: var(--gray-faint);
}

.main-screen a:nth-of-type(1) .user_component {
  animation-delay: 0.2s;
}
.main-screen a:nth-of-type(2) .user_component {
  animation-delay: 0.4s;
}
.main-screen a:nth-of-type(3) .user_component {
  animation-delay: 0.6s;
}
.main-screen a:nth-of-type(4) .user_component {
  animation-delay: 0.8s;
}
.main-screen a:nth-of-type(5) .user_component {
  animation-delay: 3s;
}
