.user_component {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_component__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user_component__subcolumn {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.user_component__subcolumn__chat {
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
}
.user_component__subcolumn i {
  margin-left: 8px;
}
.user_component__avatar--big {
  width: 80px;
  border-radius: 25%;
}
.user_component__avatar {
  width: 70px;
  border-radius: 25%;
}
.user_component__avatar--small {
  width: 60px;
  border-radius: 25%;
}
.user_component__avatar--xs {
  width: 20px;
  border-radius: 25%;
}
.user_component__info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user_component__name {
  font-size: 24px;
  font-weight: 600;
}
.user_component__name--notbold {
  font-weight: 500;
}
.user_component__subtitle {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  margin-top: 10px;
}

.user_component__new_chat {
  align-self: flex-end;
  margin-top: 10px;
  position: relative;
}
